<img src="//placehold.it/32/{{theme[item_type]}}/fff?text={{item_type.charAt(0).toUpperCase()}}" class="img-responsive img-circle pull-left small-circle">
<h2>{{item ? get_item_title[item_type](item) : ""}}</h2>



<div class="container-fluid details-action-items">
<div class="row">

	<div class="col-xs-12 col-sm-4 details-action-item" ng-repeat="r in relations[item_type]">
		<a ui-sref="{{item_type}}.{{r.relation}}({item_id: item[item_id_property[item_type]]})">
			<img src="//placehold.it/10/{{theme[r.related_item_type]}}?text=+" class="img-responsive img-circle pull-left small-circle">
			{{r.page_header}}
		</a>
	</div>


</div>
</div>

<hr />

<div ui-view="table1"></div>