<h2>NorthWind Traders</h2>

<div class="homepage">

<p>
This demo is a part of <a href="http://xnlogic.github.io/pacer-northwind/">"Graph Databases - A Practical Introduction"</a>,
a full-day technical workshop, brought to you by <a href="http://xnlogic.com">XN Logic</a>
</p>

<p>
The server side of the application is built using:
</p>

<ul>
 <li> <a href="neo4j.com">Neo4j</a></li>
 <li> <a href="https://github.com/xnlogic/pacer">Pacer</a></li>
 <li> <a href="http://www.sinatrarb.com/">Sinatra</a></li>
</ul>

</div>