<img src="//placehold.it/32/{{theme.customers}}/fff?text=C" class="img-responsive img-circle pull-left small-circle">
<h2>{{customer.companyName}}</h2>



<table class="table details-action-items">
	<tr>
		<td><a ui-sref="customers.favorite_products({item_id: customer.customerID})">
			<img src="//placehold.it/10/{{theme.products}}?text=+" class="img-responsive img-circle pull-left small-circle">
			Frequently purchased products
		</a></td>

		<td><a ui-sref="customers.orders({item_id: customer.customerID})">
			<img src="//placehold.it/10/{{theme.orders}}?text=+" class="img-responsive img-circle pull-left small-circle">
			Order History
		</a></td>
	</tr>


	<tr>
		<td><a ui-sref="customers.favorite_sales_staff({item_id: customer.customerID})">
			<img src="//placehold.it/10/{{theme.employees}}?text=+" class="img-responsive img-circle pull-left small-circle">
			Favorite Sales Staff
		</a></td>

		<td><a ui-sref="customers.suggest_products({item_id: customer.customerID})">
			<img src="//placehold.it/10/{{theme.products}}?text=+" class="img-responsive img-circle pull-left small-circle">
			Suggest New Products
		</a></td>
	</tr>

</table>


<hr />

<div ui-view="table1"></div>